[setup]
# Default location to look for software
find_links =
    http://pypi.python.org/simple/

# Default network timeout. 0 for none.
network_timeout = 0

# Format used when creating archives. Possible values tar, tgz, tar.gz, zip.
archive_format = tar.gz

# Default directories
bin_directory = ${setup:prefix_directory}/bin
download_directory = ${setup:prefix_directory}/download
lib_directory = ${setup:prefix_directory}/lib
log_directory = ${setup:var_directory}/log
var_directory = ${setup:prefix_directory}/var

